footer.footer.t-center
  .container
    if $t.lang !== "en"
      .footer__qrcodes
        .footer__qrcode
          .footer__qrcode-img
            img(src="./images/dingding-we.png")
          .footer__qrcode-hint
            | !{$t.toolbar.dingding}
        .footer__qrcode
          .footer__qrcode-img
            img(src="./images/wechat-we.png")
          .footer__qrcode-hint
            | !{$t.toolbar.wechat}
    else
      .footer__line
        | Contact：
        a(href="mailto:hackathon.sf@jiqizhixin.com") hackathon.sf@jiqizhixin.com
    .footer__line
      a.footer__link(href="javascript:;") #{$t.footer.about}
      span |
      a.footer__link(href="javascript:;") #{$t.footer.contact}
      span |
      a.footer__link(href="javascript:;") #{$t.footer.sign}
    .footer__line
      a.footer__link(href="javascript:;")
        | #{$t.footer.privacy}
    .footer__line
      | #{$t.footer.copyright}
