mixin module-title(title)
  .module-title
    = title

mixin solgan
  .solgan
    .solgan__topic.text-pingfang
      .solgan__date 2017
      .solgan__title !{$t.mixin.solgan.t1}
      .solgan__title-en #{$t.mixin.solgan.t2}
    .solgan__topic-second.text-pingfang
      .solgan__title #{$t.mixin.solgan.t3}
      .solgan__title-en #{$t.mixin.solgan.t4}


mixin rules-desc(isApply)
  .rules-desc
    .rules-desc__content
      .rules-desc__inline
        if !isApply
          p.rules-desc__title #{$t.mixin.rulesDesc.t1}
          .rules-desc__image
            img(src="./images/rules-cn.png")
        .rules-desc__rules
          if $t.lang !== "en"
            img(src="./images/prize-cn.png")
          else 
            img(src="./images/prize-cn-en.png")

      .rules-desc__inline
        if !isApply
          p.rules-desc__title #{$t.mixin.rulesDesc.t2}
          .rules-desc__image
            img(src="./images/rules-en.png")
        .rules-desc__rules
          if $t.lang !== "en"
            img(src="./images/prize-en.png")
          else
            img(src="./images/prize-en-en.png")
    .rules-desc__prize
      if $t.lang !== "en"
        img(src="./images/prize-shortlisted.png")
      else
        img(src="./images/prize-shortlisted-en.png")

    .rules-desc__prize.mobile
      if $t.lang !== "en"
        img(src="./images/prize-shortlisted-mobile.png")
      else
        img(src="./images/prize-shortlisted-mobile-en.png")
