if $t.lang !== "en"
  - var applyUrl = 'apply.html'
  - var homeUrl = 'index.html'
  - var applyProgramUrl = 'apply-program.html'
  - var applyCreativeUrl = 'apply-creative.html'
else
  - var applyUrl = 'apply.en.html'
  - var homeUrl = 'index.en.html'
  - var applyProgramUrl = 'apply-program.en.html'
  - var applyCreativeUrl = 'apply-creative.en.html'

doctype html
html(lang=$t.lang)
  block variables
  head
    title=title
    meta(charset='utf-8')
    meta(name="renderer" content="webkit")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(content='initial-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no' name='viewport')
    script(type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="https://cdn.bootcss.com/babel-polyfill/6.22.0/polyfill.min.js")
    link(rel="stylesheet" href="./styles/app.min.css")
  
  body(id=action class=action)
    include ./views/mixin.pug
    include ./views/shared/header.pug
    block content
    include ./views/shared/toolbar.pug
    include ./views/shared/footer.pug
    // script(type="text/javascript" src="./vendor/scripts/modernizr.js")

    script(type="text/javascript" src="./scripts/app.js")
    
